@use '../abstracts'as *;

.logo img {
    max-width: 20.2rem;
}

.header {
    padding-block: 3.4rem;

    @include respond-to(medium) {
        padding-block: 6.4rem;
    }

    &__nav {
        --link-color: hsl(264, 5%, 20%);
    }
}

.footer {
    &__nav {
        --link-color: hsl(0, 0%, 100%);

        &-list {
            gap: 3.2rem;
        }
    }
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__list {

    @include respond-to(medium) {
        gap: 4.2rem;
    }

    a:link,
    a:visited {
        font-size: var(--fs-14);
        text-transform: uppercase;
        color: var(--link-color);
        font-weight: var(--font-regular);
        line-height: 1;
        letter-spacing: var(--ls-2);
    }

    a:hover,
    a:active {
        text-decoration: underline;
    }

}