@use '../abstracts'as *;

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.md\:flex-row {
    @include respond-to(medium) {
        flex-direction: row;
    }
}


.lg\:flex-row {
    @include respond-to(large) {
        flex-direction: row;
    }
}