@use '../abstracts'as *;

.u-main-huge-pb {
    padding-bottom: 28.5rem;

    @include respond-to(medium) {
        padding-bottom: 33rem;
    }

    @include respond-to(large) {
        padding-bottom: 38rem;
    }
}

.u-mt-160-res {
    margin-top: 9.6rem;

    @include respond-to(medium) {
        margin-top: 12rem;
    }

    @include respond-to(large) {
        margin-top: 16rem;
    }
}


.h-full {
    height: 100%;
}

.w-full {
    width: 100%;
}