@use '../abstracts'as *;

// BANNER WITH CTA BUTTON
.cta-banner {
    width: 100%;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include respond-to(medium) {
        transform: translate(-50%, -76%);
    }

    &__inner {
        padding: 6.4rem 2.4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 3.2rem;

        background-color: var(--color-peach);
        background-image: url('../../assets/shared/desktop/bg-pattern-call-to-action.svg');
        background-repeat: no-repeat;
        background-position: center -15%;


        @include respond-to(large) {
            padding: 7.2rem 9.5rem;
            flex-direction: row;
            background-position: center right;
        }
    }


    &__text {
        color: var(--color-white);
        display: grid;
        justify-items: center;
        grid-gap: 1.3rem;

        @include respond-to(large) {
            justify-items: start;

        }

        h3 {
            font-size: 3.2rem;
            line-height: 3.6rem;

            @include respond-to(medium) {
                max-width: 27.5rem;

                font-size: 4rem;
                line-height: 1;
            }
        }

        .paragraph {
            @include respond-to(medium) {
                max-width: 46rem;
            }
        }
    }
}