@use '../abstracts'as *;


.banner {
    position: relative;
    padding: 6.4rem 2.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 3.2rem;

    background-color: var(--color-peach);
    background-image: url('../../assets/shared/desktop/bg-pattern-call-to-action.svg');
    background-repeat: no-repeat;
    background-position: center -15%;
    transform: translateY(50%);

    @include respond-to(medium) {
        transform: translateY(8.5rem);
    }

    @include respond-to(large) {
        padding: 7.2rem 9.5rem;
        flex-direction: row;
        background-position: center right;
        margin-top: 8.8rem;
        transform: translateY(7.2rem);
    }

    &__text {
        color: var(--color-white);
        display: grid;
        justify-items: center;
        grid-gap: 1.3rem;

        @include respond-to(large) {
            justify-items: start;

        }

        h3 {
            font-size: 3.2rem;
            line-height: 3.6rem;

            @include respond-to(medium) {
                max-width: 27.5rem;

                font-size: 4rem;
                line-height: 1;
            }
        }

        .paragraph {
            @include respond-to(medium) {
                max-width: 46rem;
            }
        }
    }
}