/**
 * Basic typography style for copy text
 */
@use '../abstracts'as *;

.text-white {
  color: var(--color-white);
}

.text-peach {
  color: var(--color-peach);
}

.text-bold {
  font-weight: var(--font-bold);
}

.heading {
  font-weight: var(--font-medium);
}

.heading-1 {
  font-size: 3.2rem;
  line-height: 3.6rem;
  font-weight: var(--font-medium);

  @include respond-to(medium) {
    font-size: 4.8rem;
    line-height: 4.8rem;
  }
}

.heading-2 {
  font-size: 2.8rem;
  line-height: 3.6rem;
  letter-spacing: 0.14rem;
  font-weight: var(--font-medium);

  @include respond-to(medium) {
    font-size: 4rem;
    line-height: 4.8rem;
    letter-spacing: var(--ls-2);
  }
}

.heading-3 {
  font-size: 2rem;
  line-height: 2.6rem;
  letter-spacing: var(--ls-5);
  text-transform: uppercase;
  font-weight: var(--font-medium);
}

.paragraph {
  font-size: 1.5rem;
  font-weight: var(--font-regular);
  line-height: 2.5rem;

  @include respond-to(medium) {
    font-size: 1.6rem;
    line-height: 2.6rem;

  }
}